# Configuracion de Base de Datos (RDS PostgreSQL o MySQL)
DATABASE_URL=postgresql://postgres:tu_password@tu-rds-endpoint.us-east-1.rds.amazonaws.com:5432/videodb

# Configuracion de Seguridad JWT
SECRET_KEY=cambiar_esta_clave_por_una_segura_y_aleatoria
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Configuracion AWS S3
AWS_REGION=us-east-2
S3_BUCKET_VIDEOS=video-platform-videos-nicolas
S3_BUCKET_THUMBNAILS=video-platform-thumbnails-nicolas
S3_BUCKET_FRONTEND=video-platform-frontend-nicolas

# Credenciales AWS (Opcional si la instancia EC2 usa un IAM Role asignado)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
